[submodule "vim/plugged/vim-bufferline"]
	path = vim/plugged/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim/plugged/vim-togglemouse"]
	path = vim/plugged/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "vim/plugged/neosnippet"]
	path = vim/plugged/neosnippet
	url = https://git::@github.com/Shougo/neosnippet.git
[submodule "vim/plugged/auto-pairs"]
	path = vim/plugged/auto-pairs
	url = https://git::@github.com/jiangmiao/auto-pairs.git
[submodule "vim/plugged/neco-look"]
	path = vim/plugged/neco-look
	url = https://git::@github.com/ujihisa/neco-look.git
[submodule "vim/plugged/vimproc.vim"]
	path = vim/plugged/vimproc.vim
	url = https://git::@github.com/Shougo/vimproc.vim.git
[submodule "vim/plugged/emmet-vim"]
	path = vim/plugged/emmet-vim
	url = https://git::@github.com/mattn/emmet-vim.git
[submodule "vim/plugged/syntastic"]
	path = vim/plugged/syntastic
	url = https://git::@github.com/scrooloose/syntastic.git
[submodule "vim/plugged/vim-chef"]
	path = vim/plugged/vim-chef
	url = https://git::@github.com/t9md/vim-chef.git
[submodule "vim/plugged/neosnippet-snippets"]
	path = vim/plugged/neosnippet-snippets
	url = https://git::@github.com/Shougo/neosnippet-snippets.git
[submodule "vim/plugged/vim-golang"]
	path = vim/plugged/vim-golang
	url = https://git::@github.com/jnwhiteh/vim-golang.git
[submodule "vim/plugged/neocomplete.vim"]
	path = vim/plugged/neocomplete.vim
	url = https://git::@github.com/Shougo/neocomplete.vim.git
[submodule "vim/plugged/vim-snippets"]
	path = vim/plugged/vim-snippets
	url = https://git::@github.com/honza/vim-snippets.git
[submodule "vim/plugged/vim-ansible-yaml"]
	path = vim/plugged/vim-ansible-yaml
	url = https://git::@github.com/chase/vim-ansible-yaml.git
[submodule "urxvt/ext.avail/urxvt-resize-font"]
	path = urxvt/ext.avail/urxvt-resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
