.DS_Store
addsubmodules.sh
*.log
*.bak

tmp

hosts/hosts
hosts/whitelist
hosts/hosts.original

vim/.netrwhist
vim/undo/**
!vim/undo/.gitkeep
packer_compiled.lua

fish/**
!fish/config.fish

kitty/**
!kitty/kitty.conf
